body {
  font-family: 'Courier New', Courier, monospace;
  margin: 0;
  padding: 0;
  background: black;
  /* background: linear-gradient(to right, 
  #FFF886, #a417c4); */
  text-align: center
}

.app-title {
  margin-top: 75px;
  margin-bottom: 50px;
  font-size: 90px;
  font-family: 'Cute Font', cursive;
  position: relative;
}

video {
  object-fit: cover;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
}